@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Serif", serif;
}

section {
    padding-top: 100px;
    padding-bottom: 50px;
}

.hero .col img {
    width: 500px;
}

.hero .col p {
    width: 400px;
}

.about .col img {
    width: 50%;
}

@media screen and (max-width:510px) {
    .hero .col img {
        width: 100%;
    }

    .hero .col
}
